@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:underline;
  }
}

@layer components {
  .button {
    @apply py-2 px-4 bg-gray-100 rounded text-gray-600 text-sm hover:shadow-md transition;
  }

  .banner-text {
    @apply flex justify-center;
  }

  .banner-text > * {
    @apply text-[5rem];
  }

  .banner-text h1:nth-child(6n + 1) {
    color: #4285f4;
  }

  .banner-text h1:nth-child(6n + 2) {
    color: #db4437;
  }

  .banner-text h1:nth-child(6n + 3) {
    color: #f4b400;
  }

  .banner-text h1:nth-child(6n + 4) {
    color: #4285f4;
  }

  .banner-text h1:nth-child(6n + 5) {
    color: #0f9d58;
  }

  .banner-text h1:nth-child(6n + 6) {
    color: #db4437;
  }

  footer {
    width: 100%;
    background: #efefef;
  }

  footer .footer-section {
    border-top: 1px solid #d6d6d6;
    height: 40px;
    padding: 5px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  footer .footer-section .footer-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer .footer-section .footer-text-container .footer-text {
    margin-left: 12px;
    color: #5c5c5c;
    font-size: 0.8em;
  }
}
